{% load static %}


<header>

  <div class="contenedor-header ancho">

    <div class="contenedor-logo-entretodos">
      <i class="fas fa-bars" id="menu-toggle"></i>
      <figure class="logo-elegante">
        <img src="{% static 'img/LogoConRecorte.png' %}" alt="Logo Institucional">
      </figure>

    </div>

    <nav class="menu-header">
      <ul>
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li><a href="{% url 'historia' %}">Historia</a></li>
        <li class="submenu">
          <a href="">Oferta Educativa</a>
          <ul id="submenu-items">
            <li><a href="{% url 'index' %}#talleres">Talleres</a></li>
            <li><a href="{% url 'index' %}#cursos">Cursos</a></li>
            <li><a href="{% url 'index' %}#diplomados">Diplomados</a></li>
          </ul>
        </li>
        <br>
        <a href="{% url 'login_alumno' %}" class="btn-acceder">Acceder</a>
      </ul>
      
    </nav>
    
  </div>

</header>
