{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
        <link rel="stylesheet" href="{% static 'css/diplomados.css' %}">
        <link rel="stylesheet" href="{% static 'css/movil.css' %}">
        <link rel="stylesheet" href="{% static 'css/movil_diplomados.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <title>Educacion para la paz</title>
      </head>
<body>
    {% include 'cabecera.html' %}
    <!-- <header class="program-header ancho">
        <div class="container">
            <h1 class="program-title">Educación Para la Paz</h1>
            <p>Programa General de Formación Continua</p>
        </div>
    </header> -->

    <section class="seccion-programa">
        <div class="contenedor-programa-info ancho margen">
            <h1 class="program-title">Educación Para la Paz</h1>
            <p>Programa General de Formación Continua</p>
        </div>
    </section>

    <main class="container">
        

        <section class="info-grid">
            <div class="info-card">
                <h2 class="card-title">Destinatarios</h2>
                <p>Docentes de educación básica en sus diferentes modalidades.</p>
            </div>
            <div class="info-card">
                <h2 class="card-title">Nivel</h2>
                <p>Educación básica en sus diferentes modalidades.</p>
            </div>
        </section>

        <section class="resources-section">
            <h2 class="card-title">Introducción</h2>
            <p>Los tiempos que corren son tiempos de incertidumbre y confusión. En muchos lugares del planeta se viven graves crisis provocadas por la guerra, la pobreza, la economía neoliberal desaforada, el deterioro ecológico, el uso inhumano de la tecnología, y la alienación que generan la mayor parte de los medios de comunicación masiva.</p>
           
        </section>

        <section class="purpose-section">
            <h2 class="card-title">Propósito General</h2>
            <p>Contribuir al desarrollo y fortalecimiento de una cultura de paz y la buena convivencia social entre las y los integrantes de las comunidades escolares de Yucatán (alumnos y alumnas, maestros y maestras, personal no docente y padres y madres de familia), e incorporar sistemáticamente esa dimensión cultural en el diseño de proyectos pedagógicos para las escuelas.</p>
            
            <h3 class="module-title">Propósitos Particulares</h3>
            <ul class="purpose-list">
                <li>Analizar el papel de la educación en la construcción de una cultura de paz.</li>
                <li>Analizar la dinámica de los conflictos escolares, así como principios y orientaciones para solucionarlos.</li>
                <li>Revisar alternativas pedagógicas concretas que se ofrecen en la actualidad, para educar en y para la convivencia y la paz en las escuelas.</li>
                <li>Conocer las políticas de "Educación para la paz" en algunas organizaciones internacionales, tanto gubernamentales como privadas.</li>
                <li>Revisar y recrear la vida y obra de los más destacados y las más destacadas pacifistas de las últimas décadas.</li>
            </ul>
        </section>

        <section class="modules-grid">
            <div class="module-card">
                <h3 class="module-title">Módulo I</h3>
                <ul class="module-list">
                    <li>Diversas concepciones sobre la paz.</li>
                    <li>Cultura de paz (concepto de la U.N.E.S.C.O)</li>
                    <li>Educación para la paz.</li>
                    <li>El maestro sembrador de paz.</li>
                    <li>Habilidades socioemocionales para la convivencia.</li>
                </ul>
            </div>
            <div class="module-card">
                <h3 class="module-title">Módulo II</h3>
                <ul class="module-list">
                    <li>Naturaleza del conflicto y análisis de conflictos escolares.</li>
                    <li>Orientaciones y técnicas para la resolución de conflictos en la escuela.</li>
                    <li>La dirección escolar como instancia de mediación.</li>
                    <li>El bullying y protocolos para afrontarlo.</li>
                    <li>Valores fundamentales para la convivencia en la escuela.</li>
                </ul>
            </div>
            <div class="module-card">
                <h3 class="module-title">Módulo III</h3>
                <ul class="module-list">
                    <li>La red PEA (Escuelas Asociadas de la UNESCO).</li>
                    <li>La UNICEF y la cultura de paz en las escuelas.</li>
                    <li>Programa Nacional de Convivencia Escolar.</li>
                    <li>Programa Conjunto en Cultura de Paz: La Caja de Herramientas en Educación.</li>
                </ul>
            </div>
            <div class="module-card">
                <h3 class="module-title">Módulo IV</h3>
                <ul class="module-list">
                    <li>La tradición de la No Violencia (Gandhi y Luther King).</li>
                    <li>Premios Nobel de la paz.</li>
                    <li>Pacifistas mexicanos.</li>
                    <li>Los pacifistas anónimos.</li>
                    <li>Artistas aliados de la paz.</li>
                </ul>
            </div>
            <div class="module-card">
                <h3 class="module-title">Módulo V</h3>
                <ul class="module-list">
                    <li>Pacifismo ecológico, Budismo, Papa Francisco… </li>
                    <li>Presentación de resultados de los proyectos para mejora de la convivencia escolar y de los videos y retroalimentación de los mismos con especialistas externos.</li>
                    <li>Evaluación del diplomado.</li>
                   
                </ul>
            </div>
        </section>

      
        <section class="additional-info">
            <h2 class="card-title">Información Adicional</h2>
            <div class="info-item">
                <span class="highlight">Duración:</span> 27 sesiones de 4 horas
            </div>
            <div class="info-item">
                <span class="highlight">Modalidad:</span> Semipresencial
            </div>
            <div class="info-item">
                <span class="highlight">Costo:</span> Gratuito
            </div>
            <div class="info-item">
                <span class="highlight">Participantes:</span> Máximo 25 por grupo
            </div>
            <div class="info-item">
                <span class="highlight">Responsable Académico:</span>  Mtra. Natividad Novelo Pérez
            </div>
            <div class="info-item">
                <p>El diplomado tiene validez oficial y queda registrado formalmente en su historial académico de la Plataforma Estatal de Formación Continua.</p>
            </div>
        
              <a href="{% static 'pdf/01D Diplomado Educación para la Paz Programa General.pdf' %}" target="_blank" class="download-btn">
          
  Descargar programa completo
</a>

          
        </section>
    </main>
   {% include 'pie.html' %}
       <script>
$(document).ready(function () {
  $('#menu-toggle').click(function () {
    $('.menu-elegante').toggleClass('mostrar');
  });

  $('.submenu > a').click(function (e) {
    e.preventDefault();
    var submenu = $(this).next('#submenu-items');
    $('#submenu-items').not(submenu).slideUp(200); // Cierra otros
    submenu.stop(true, true).slideToggle(200); // Abre/cierra actual
  });
});


</script>
</body>
</html>