{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
        <link rel="stylesheet" href="{% static 'css/diplomados.css' %}">
        <link rel="stylesheet" href="{% static 'css/movil.css' %}">
        <link rel="stylesheet" href="{% static 'css/movil_diplomados.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <title>Literatura y Educacion</title>
      </head>
<body>
    {% include 'cabecera.html' %}
    <header class="program-header ancho">
        <div class="container">
            <h1 class="program-title">Literatura y Educación</h1>
            <p>Programa General de Formación Continua</p>
        </div>
    </header>

    <main class="container">
        

        <section class="info-grid">
            <div class="info-card">
                <h2 class="card-title">Destinatarios</h2>
                <p>Docentes de educación básica en sus diferentes modalidades.</p>
            </div>
            <div class="info-card">
                <h2 class="card-title">Nivel</h2>
                <p>Educación básica en sus diferentes modalidades.</p>
            </div>
        </section>

        <section class="resources-section">
            <h2 class="card-title">Introducción</h2>
            <p>El Programa Entre Todos ofrece el diplomado Literatura y Educación con el propósito de fortalecer la formación humanista de los docentes, que en las últimas décadas ha perdido espacios y presencia en los planes y programas de estudio, de todos los niveles del sistema educativo, ante el intenso desarrollo de la ciencia y la tecnología. La literatura, como expresión artística, es un elemento fundamental en la formación del ser humano, ya que además de la experiencia estética que puede suscitar (el vislumbrar o encontrar la belleza), es también una forma de conocimiento que nos habla de la realidad social y política que nos rodea y que ilumina de muchas formas la experiencia cotidiana de los hombres; funciona como espejo del alma y de la sociedad, por lo tanto, nos permite mirar y comprender mejor las realidades sociales y existenciales del ser humano.</p>
           
        </section>

        <section class="purpose-section">
            <h2 class="card-title">Propósito General</h2>
            <p>Aumentar nuestra comprensión sobre el valor de la literatura como un aspecto fundamental en la formación humanista y desarrollo personal y profesional de maestros y
            alumnos.</p>
            
            <h3 class="module-title">Propósitos Particulares</h3>
            <ul class="purpose-list">
                <li>Analizar diversas concepciones sobre la literatura.</li>
                <li>Reconocer las características de la literatura y el lenguaje literario.</li>
                <li> Identificar los géneros literarios.</li>
                <li>Fomentar la lectura significativa y la escritura creativa en los docentes.</li>
                <li>Enriquecer la cultura y sensibilidad artística y literaria del docente.</li>
                <li>Identificar las ventajas de las TIC para la enseñanza, producción y difusión de la literatura.</li>
                <li>Diseñar y desarrollar estrategias didácticas para mejorar la comprensión. lectora y el disfrute de la literatura por parte de los alumnos.</li>
            </ul>
        </section>

        <section class="modules-grid">
            <div class="module-card">
                <h3 class="module-title">MÓDULO I LA LITERATURA COMO CIMIENTO DE UNA EDUCACIÓN HUMANISTA</h3>
                <ul class="module-list">
                    <li>La palabra y el libro</li>
                    <li>El maestro y la lectura</li>
                    <li>El gusto por la lectura</li>
                    <li>El arte literario: conocimiento y placer</li>
                    <li>El valor de la literatura</li>
                </ul>
            </div>
            <div class="module-card">
                <h3 class="module-title">MÓDULO II EL GÉNERO LÍRICO (LA POESÍA)</h3>
                <ul class="module-list">
                    <li>Concepciones sobre la poesía</li>
                    <li>El valor educativo de la poesía</li>
                    <li>Poesía para todos</li>
                    <li>Poesía en voz alta y musicalizada</li>
                    <li>Recomendaciones para leer y escribir poesía</li>
                </ul>
            </div>
            <div class="module-card">
                <h3 class="module-title">MODULO III GÉNERO NARRATIVO (EL CUENTO)</h3>
                <ul class="module-list">
                    <li>Naturaleza y clasificaciones del cuento</li>
                    <li>Las partes formales de un cuento</li>
                    <li>Vendiendo y compartiendo cuentos</li>
                    <li>Estrategias y ejercicios para despertar el interés en el cuento</li>
                    <li>Orientaciones para elaboración de un cuento.</li>
                </ul>
            </div>
            <div class="module-card">
                <h3 class="module-title">MÓDULO IV EL GÉNERO DIDÁCTICO O EXPOSITIVO</h3>
                <ul class="module-list">
                    <li>El ensayo</li>
                    <li>La autobiografía</li>
                    <li>Diarios de escritores</li>
                    <li>El valor personal y literario de las cartas</li>
                    <li>Discursos célebres</li>
                </ul>
            </div>
            <div class="module-card">
                <h3 class="module-title">MÓDULO V NUEVOS CAMINOS PARA LA EDUCACIÓN Y LA LITERATURA</h3>
                <ul class="module-list">
                    <li>La formación de docentes en la era digital.</li>
                    <li>Literatura y recursos audiovisuales.</li>
                    <li>De las librerías a las bibliotecas virtuales</li>
                    <li>Herramientas para publicar y difundir textos literarios.</li>
                   
                </ul>
            </div>
        </section>

      
        <section class="additional-info">
            <h2 class="card-title">Información Adicional</h2>
            <div class="info-item">
                <span class="highlight">Duración:</span> 27 sesiones de 4 horas 
            </div>
            <div class="info-item">
                <span class="highlight">Modalidad:</span> Semipresencial
            </div>
            <div class="info-item">
                <span class="highlight">Costo:</span> Gratuito
            </div>
            <div class="info-item">
                <span class="highlight">Participantes:</span> Máximo 25 por grupo
            </div>
            <div class="info-item">
                <span class="highlight">Responsable Académico:</span>  Mtro. Mauricio Robert Díaz y Mtro. Felipe Esquivel Castillo
            </div>
            <div class="info-item">
                <p>El diplomado tiene validez oficial y queda registrado formalmente en su historial académico de la Plataforma Estatal de Formación Continua.</p>
            </div>
                  <a href="{% static 'pdf/01D Diplomado Literatura y Educación Programa General.pdf' %}" target="_blank" class="download-btn">
          
  Descargar programa completo
</a>
        </section>
    </main>
    {% include 'pie.html' %}
     <script>
$(document).ready(function () {
  $('#menu-toggle').click(function () {
    $('.menu-elegante').toggleClass('mostrar');
  });

  $('.submenu > a').click(function (e) {
    e.preventDefault();
    var submenu = $(this).next('#submenu-items');
    $('#submenu-items').not(submenu).slideUp(200); // Cierra otros
    submenu.stop(true, true).slideToggle(200); // Abre/cierra actual
  });
});


</script>
</body>
</html>