{% extends './base_facilitador.html' %}

{% block title %}Inicio Facilitador{% endblock %}

{% block content %}
<div class="container mt-5">
  <h3 class="fw-bold">Inicio</h3>
  <p class="text-muted">Bienvenido, {{ facilitador.nombres }}!</p>

  <!-- Tarjetas de acceso -->
  <div class="row mt-4">
      <div class="col-md-6 mb-4">
          <div class="card shadow-sm p-4 text-center">
              <h5 class="mb-3">Cursos que desea impartir</h5>
              <a href="{% url 'impartir_cursos' %}" class="btn btn-primary">Ver cursos disponibles a impartir</a>
          </div>
      </div>
      <div class="col-md-6 mb-4">
          <div class="card shadow-sm p-4 text-center">
              <h5 class="mb-3">Mis grupos</h5>
              <a href="{% url 'mis_grupos' %}" class="btn btn-outline-secondary">Ver cursos que impartes</a>
          </div>
      </div>
  </div>
</div>
{% endblock %}