{% extends './base_facilitador.html' %}

{% block title %}Mis Grupos{% endblock %}

{% block content %}
<div class="container py-5">
  <h2 class="mb-4">Mis Grupos de Cursos, Talleres o Diplomados</h2>
  <p>Aqui se listan los grupos que estes impartiendo de cada categoria.</p>
  <h4 class="mt-4 mb-3">Cursos</h4>
  <div class="row">
    {% for curso in cursos %}
    <div class="col-md-4 mb-4">

      <div class="contenedor-tarjeta-curso">
        <div class="cabecera-tarjeta">
          <span class="grupo-curso">Grupo: {{ curso.grupo }}</span>
          {% if curso.modalidad == "presencial" %}
          <span class="modalidad-curso2">{{ curso.modalidad }}</span>
          {% else %}
          <span class="modalidad-curso">{{ curso.modalidad }}</span>
          {% endif %}
        </div>
        <h4>{{ curso.nombre_curso }}</h4>
        <div class="info-principal">
          <p><strong>Días:</strong>
            <span class="d-flex flex-wrap gap-1 mt-1">
              {% for dia in curso.dias %}
                <span class="badge bg-primary">{{ dia|capfirst }}</span>
              {% endfor %}
            </span>
          </p>

          <p><strong>Horario:</strong> {{ curso.hora_inicio|time:"g:i A" }} - {{ curso.hora_fin|time:"g:i A" }}</p>
          <p><strong>Periodo:</strong> {{ curso.periodo}}</p>
        </div>
        <hr>
        <div class="info-detallada">
          <div class="fila">
            <span><strong>Fecha de inicio</strong></span>
            <span>{{ curso.fecha_inicio }}</span>
          </div>
          <div class="fila">
            <span><strong>Fecha de fin</strong></span>
            <span>{{ curso.fecha_fin }}</span>
          </div>
          <div class="fila">
            <span><strong>Cupos</strong></span>
            <span>{{ curso.cupos }} restantes</span>
          </div>
          <div class="fila">
            <span><strong>Duración</strong></span>
            <span>{{ curso.duracion }} horas</span>
          </div>
        </div>
        <hr>
        <div>
          <a href="{% url 'lista_de_alumnos' 'curso' curso.id %}" class="btn btn-success mt-2 mb-2">Ver alumnos</a>
        </div>
      </div>

    </div>
    {% empty %}
    <p>No estás impartiendo cursos actualmente.</p>
    {% endfor %}
  </div>

  <h4 class="mt-4 mb-3">Talleres</h4>
  <div class="row">
    {% for taller in talleres %}
    <div class="col-md-4 mb-4">

      <div class="contenedor-tarjeta-taller">
        <div class="cabecera-tarjeta">
          <span class="grupo-curso">Grupo: {{ taller.grupo }}</span>
          {% if taller.modalidad == "presencial" %}
          <span class="modalidad-curso2">{{ taller.modalidad }}</span>
          {% else %}
          <span class="modalidad-curso">{{ taller.modalidad }}</span>
          {% endif %}
        </div>
        <h4>{{ taller.nombre_taller }}</h4>
        <div class="info-principal">
          <p><strong>Días:</strong>
            <span class="d-flex flex-wrap gap-1 mt-1">
              {% for dia in taller.dias %}
                <span class="badge bg-success">{{ dia|capfirst }}</span>
              {% endfor %}
            </span>
          </p>

          <p><strong>Horario:</strong> {{ taller.hora_inicio|time:"g:i A" }} - {{ taller.hora_fin|time:"g:i A" }}</p>
          <p><strong>Periodo:</strong> {{ taller.periodo}}</p>
        </div>
        <hr>
        <div class="info-detallada">
          <div class="fila">
            <span><strong>Fecha de inicio</strong></span>
            <span>{{ taller.fecha_inicio }}</span>
          </div>
          <div class="fila">
            <span><strong>Fecha de fin</strong></span>
            <span>{{ taller.fecha_fin }}</span>
          </div>
          <div class="fila">
            <span><strong>Cupos</strong></span>
            <span>{{ taller.cupos }} restantes</span>
          </div>
          <div class="fila">
            <span><strong>Duración</strong></span>
            <span>{{ taller.duracion }} horas</span>
          </div>
        </div>
        <hr>
        <div>
          <a href="{% url 'lista_de_alumnos' 'taller' taller.id %}" class="btn btn-success mt-2 mb-2">Ver alumnos</a>
        </div>
      </div>

    </div>
    {% empty %}
    <p>No estás impartiendo talleres actualmente.</p>
    {% endfor %}
  </div>

  <h4 class="mt-4 mb-3">Diplomados</h4>
  <div class="row">
    {% for diplomado in diplomados %}
    <div class="col-md-4 mb-4">

      <div class="contenedor-tarjeta-diplomado">
        <div class="cabecera-tarjeta">
          <span class="grupo-curso">Grupo: {{ diplomado.grupo }}</span>
          {% if diplomado.modalidad == "presencial" %}
          <span class="modalidad-curso2">{{ diplomado.modalidad }}</span>
          {% else %}
          <span class="modalidad-curso">{{ diplomado.modalidad }}</span>
          {% endif %}
        </div>
        <h4>{{ diplomado.nombre_diplomado }}</h4>
        <div class="info-principal">
         <p><strong>Días:</strong>
          <span class="d-flex flex-wrap gap-1 mt-1">
            {% for dia in diplomado.dias %}
              <span class="badge bg-secondary">{{ dia|capfirst }}</span>
            {% endfor %}
          </span>
        </p>

          <p><strong>Horario:</strong> {{ diplomado.hora_inicio|time:"g:i A" }} - {{ diplomado.hora_fin|time:"g:i A" }}</p>
          <p><strong>Periodo:</strong> {{ diplomado.periodo}}</p>
        </div>
        <hr>
        <div class="info-detallada">
          <div class="fila">
            <span><strong>Fecha de inicio</strong></span>
            <span>{{ diplomado.fecha_inicio }}</span>
          </div>
          <div class="fila">
            <span><strong>Fecha de fin</strong></span>
            <span>{{ diplomado.fecha_fin }}</span>
          </div>
          <div class="fila">
            <span><strong>Cupos</strong></span>
            <span>{{ diplomado.cupos }} restantes</span>
          </div>
          <div class="fila">
            <span><strong>Duración</strong></span>
            <span>{{ diplomado.duracion }} horas</span>
          </div>
        </div>
        <hr>
        <div>
          <a href="{% url 'lista_de_alumnos' 'diplomado' diplomado.id %}" class="btn btn-success mt-2 mb-2">Ver alumnos</a>
        </div>
      </div>

    </div>
    {% empty %}
    <p>No estás impartiendo diplomados actualmente.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
