{% load static %}
<footer class="pie-pagina ">
  <div class="contenido-footer">
    <!-- Columna izquierda: logo -->
    <div class="columna-footer logo-footer">
      <img src="{% static 'img/logo.png' %}" alt="Logo Entre Todos">
    </div>

    <!-- Columna centro: info -->
    <div class="columna-footer info-footer">
      <h3>Contacto</h3>
      <p><strong>Teléfono:</strong> 9999427170 ext. 56130 y 56017</p>
      <p><strong>Correo:</strong> <a href="mailto:entretodos.segey@gmail.com">entretodos.segey@gmail.com</a></p>
    </div>

    <!-- Columna derecha: horario y redes -->
    <div class="columna-footer redes-footer">
      <p><strong>Horario:</strong> Lunes - Viernes, 8:00 am - 3:00 pm</p>
      <h4>Síguenos</h4>
      <div class="iconos-redes">
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-tiktok"></i></a>
      </div>
    </div>
  </div>

  <div class="creditos-footer">
    ©2025 EntreTodos. All rights reserved
  </div>
</footer>
