{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/estilo.css">
  <link rel="stylesheet" href="css/talleres.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css'>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <link rel="stylesheet" href="css/movil.css">
  <link rel="stylesheet" href="css/movil_talleres.css">
  <title>Volvamos a la Tierra: El Huerto Escolar</title>
</head>
<body>
  {% include 'cabecera.html' %}
    <div class="container">
        <header class="header">
            <h1>Volvamos a la Tierra: El Huerto Escolar</h1>
            <p>Un proyecto educativo para reconectar con la naturaleza</p>
        </header>

        <section class="resumen">
            <p>El taller VOLVAMOS A LA TIERRA: EL HUERTO ESCOLAR es un excelente recurso para convertir los centros educativos en lugares que posibiliten a un alumnado mayoritariamente urbano, múltiples experiencias acerca de su entorno natural y rural, entender las relaciones y dependencias que tenemos con él, y poner en práctica actitudes como buena alimentación, hábitos de cuidado y responsabilidad medioambiental; experiencias interesantes para el desarrollo de las capacidades fundamentales en Educación Ambiental.</p>
        </section>

        <div class="sessions-grid">
            <div class="session-card">
                <h3>Sesión 1</h3>
                <p>Cultivando aprendizajes en los huertos escolares</p>
            </div>
            <div class="session-card">
                <h3>Sesión 2</h3>
                <p>Tan solo debes sembrar lo que puedes abonar</p>
            </div>
            <div class="session-card">
                <h3>Sesión 3</h3>
                <p>La magia de los polinizadores</p>
            </div>
            <div class="session-card">
                <h3>Sesión 4</h3>
                <p>El valor educativo del huerto</p>
            </div>
            <div class="session-card">
                <h3>Sesión 5</h3>
                <p>Aromáticas y medicinales</p>
            </div>
            <div class="session-card">
                <h3>Sesión 6</h3>
                <p>Riego, rotación y asociación</p>
            </div>
            <div class="session-card">
                <h3>Sesión 7</h3>
                <p>Bichos buenos y bichos malos</p>
            </div>
            <div class="session-card">
                <h3>Sesión 8</h3>
                <p>Transgénicos ¿héroes o villanos?</p>
            </div>
            <div class="session-card">
                <h3>Sesión 9</h3>
                <p>El cambio climático</p>
            </div>
            <div class="session-card">
                <h3>Sesión 10</h3>
                <p>Guardianes del planeta</p>
            </div>
            <div class="session-card">
              <a href="">Descargar Curso completo</a>
            </div>
            
        </div>
    </div>
    {% include 'pie.html' %}
   <script>
    $(document).ready(function () {
  $('#menu-toggle').click(function () {
    $('.menu-elegante').toggleClass('mostrar');
  });

  $('.submenu > a').click(function (e) {
    e.preventDefault();
    var submenu = $(this).next('#submenu-items');
    $('#submenu-items').not(submenu).slideUp(200); // Cierra otros
    submenu.stop(true, true).slideToggle(200); // Abre/cierra actual
  });
});
  </script>
</body>
</html>