{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/estilo.css">
  <link rel="stylesheet" href="css/talleres.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css'>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <link rel="stylesheet" href="css/movil.css">
  <link rel="stylesheet" href="css/movil_talleres.css">
  <title>Teatro para docentes</title>
</head>
<body>
  {% include 'cabecera.html' %}
    <div class="container">
        <header class="header">
            <h1>Teatro para docentes</h1>
          
        </header>

        <section class="resumen">
            <p>El teatro, por su valor formativo y humano, actúa con distintos objetivos esenciales de la educación.¿Cuál es la importancia del teatro en la educación?El teatro, es una de las manifestaciones artísticas más antiguas y primarias que conoce el hombre, ocupaba un gran lugar ya que era un fenómeno a partir del cual una sociedad podía exponer en tono de tragedia o de comedia aquellos elementos que caracterizaban su cotidianidad.La importancia del teatro en la educación reside en que, por su valor formativo y humano, actúa con distintos objetivos esenciales de la educación, ya que desarrolla y refuerza las capacidades individuales y las habilidades sociales de los estudiantes y docentes, integrando a toda la Comunidad Educativa.</p>
        </section>

        <div class="sessions-grid">
            <div class="session-card">
                <h3>Sesión 1</h3>
                <p>Fundamentos de la expresión teatral en la educación básica</p>
            </div>
            <div class="session-card">
                <h3>Sesión 2</h3>
                <p>Antecedentes, historia, tipos y conceptos del teatro</p>
            </div>
            <div class="session-card">
                <h3>Sesión 3</h3>
                <p>Elementos del guión teatral</p>
            </div>
            <div class="session-card">
                <h3>Sesión 4</h3>
                <p>Elementos de la expresión teatral</p>
            </div>
            <div class="session-card">
                <h3>Sesión 5</h3>
                <p>Expresión corporal, espacio y tiempo</p>
            </div>
            <div class="session-card">
                <h3>Sesión 6</h3>
                <p>Características y elementos del teatro guiñol 
                </p>
            </div>
            <div class="session-card">
                <h3>Sesión 7</h3>
                <p>Adaptación de un cuento infantil en un guion teatral</p>
            </div>
            <div class="session-card">
                <h3>Sesión 8</h3>
                <p>Teatro regional yucateco</p>
            </div>
            <div class="session-card">
                <h3>Sesión 9</h3>
                <p>Un guion original</p>
            </div>
            <div class="session-card">
                <h3>Sesión 10</h3>
                <p> Puesta en escena de una obra teatral</p>
            </div>
            <div class="session-card">
              <a href="">Descargar Curso completo</a>
            </div>
        </div>
    </div>
    {% include 'pie.html' %}
      <script>
    $(document).ready(function () {
  $('#menu-toggle').click(function () {
    $('.menu-elegante').toggleClass('mostrar');
  });

  $('.submenu > a').click(function (e) {
    e.preventDefault();
    var submenu = $(this).next('#submenu-items');
    $('#submenu-items').not(submenu).slideUp(200); // Cierra otros
    submenu.stop(true, true).slideToggle(200); // Abre/cierra actual
  });
});
  </script>
  
</body>
</html>