*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-size: 16px;
  line-height: 24px;
}
.ancho{
  max-width: 1200px;
  margin: auto;
  border: 1px red solid;
}
.margen{
  padding: 15px;
}
a{
  text-decoration: none;
}


/* DISEÑO DE LOS FORMULARIOS */
.diseño_formulario
{
width: 500px;
border: 2px rgba(255, 255, 255, 0.2) solid;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
border-bottom-left-radius: 9px;
margin: auto;
}


/* error al ingresar sus datos incorrectos */

.aviso_error
{
color: red;
background-color: pink;
font-size: 20px;

}

/* sidebar */
.sidebar{
  width: 280px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100vh;
  background-color: #f9f9f9;
  box-shadow: 0 0 22px rgba(0,0,0,0.1);
  border-right: 1px solid #ddd;
}
.menu-sidebar ul{
  list-style: none;
}
.menu-sidebar ul li a{
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px 30px;
  margin-bottom: 5px;
}
.menu-sidebar ul li a.active {
  background-color: #c2deff;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 10px;
}
.menu-sidebar ul li a:hover:not(.active) {
  background-color: #f0f0f0;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 4px;
}
.logo{
  border-bottom: 1px #ddd solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.logo-container{
  width: 190px;
  height: 90px;
  text-align: center;
  margin-bottom: 20px;
  /* margin-left: 20px; */
  /* border: 1px red solid; */
}
.logo-container img{
  width: 100%;
  display: block;
  text-align: center;
}
.icono{
  padding-right: 10px;
}
.content {
  flex-grow: 1;
  padding: 20px;
}
.menu-contenido{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.menu-contenido h4{
  margin: 0;
  vertical-align: middle;
}
.contenedor_logo{
  padding: 10px;
  text-align: center;
  /* background-color: #DAB0AE; */
}
.logo-sidebar{
  width: 200px;
  /* height: 100px;
  border-radius: 50%;
  margin: auto; */
}

/* Diseño de botones */
.btn_menu1{
  border-radius: 8px;
  padding: 12px 24px;
  border: none;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  background-color: #f07d17;
  color: #f2f4f6;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}
.btn_menu1:hover{
  background-color: #b46a2a;
  text-decoration: none;
  color: white;
}
/* formularios */

.btn-guardar-curso{
  border-radius: 8px;
  padding: 12px 24px;
  border: none;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  background-color: #f07d17;
  color: #f2f4f6;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}
.btn-guardar-curso:hover{
  background-color: #b46a2a;
  text-decoration: none;
  color: white;
}
.btn-cancelar-curso{
  border-radius: 8px;
  padding: 12px 24px;
  border: none;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  background-color: #c50000;
  color: #f2f4f6;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}
.btn-cancelar-curso:hover{
  background-color: #970000;
  text-decoration: none;
  color: white;
}
/* DISEÑO DE LAS TARJETAS DE CURSOS */
.contenedor-cursos{
  display: flex;
  justify-content: start;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-around;
  /* border: 1px red solid; */
}
.tarjeta-curso{
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  width: 30%;
}
.acciones-curso{
  display: flex;
  padding: 20px;
  gap: 10px;
}
.contenido-principal{
  margin-bottom: 20px
}
.btn-azul{
  background-color: #288cff;
  color: white;
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
  border-radius: 6px;
}
.contenedor-con-scroll {
  max-height: 80vh; /* Altura máxima del 80% del viewport */
  overflow: auto; /* Habilita el scroll si el contenido excede la altura */
  border: 1px solid #ccc; /* Opcional: agrega un borde para visualizar el contenedor */
  padding: 15px; /* Espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
  background-color: #f9f9f9; /* Color de fondo opcional */
}