{% extends './base.html' %}

{% block title %}{% if editar %}Editar{% else %}Agregar{% endif %} Periodo{% endblock %}

{% block content %}
<div class="contenido-principal">
  <h4>{% if editar %}Editar{% else %}Agregar Nuevo{% endif %} Periodo</h4>
  <p>Llena el formulario para {% if editar %}actualizar{% else %}registrar{% endif %} el periodo.</p>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="fecha_inicio" class="form-label">Nombre del periodo:</label>
      {{ form.nombre_periodo }}
    </div>
    <div class="mb-3">
      <label for="fecha_inicio" class="form-label">Fecha de inicio:</label>
      {{ form.fecha_inicio }}
    </div>
    <div class="mb-3">
      <label for="fecha_fin" class="form-label">Fecha de finalización:</label>
      {{ form.fecha_fin }}
    </div>
    <button type="submit" class="btn btn-success">
      {% if editar %}Actualizar{% else %}Guardar{% endif %} Periodo
    </button>
    <a href="{% url 'periodos' %}" class="btn btn-secondary">Cancelar</a>
  </form>
</div>
{% endblock %}
