{% extends './base.html' %}

{% block title %}Agregar Post{% endblock %}

{% block content %}
<div class="contenido-principal-agregar">
  <h4 class="mb-3">Agregar Post</h4>
  <p>Complete el formulario para registrar una nueva noticia.</p>

  <form method="post" enctype="multipart/form-data" class="mt-4">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="mb-3">
      <label for="id_titulo">Título:</label>
      {{ form.titulo }}
      {% if form.titulo.errors %}
        <div class="text-danger small">{{ form.titulo.errors|striptags }}</div>
      {% endif %}
    </div>

    <div class="mb-3">
      <label for="id_imagen" class="mb-2">Imagen:</label>
      <br>
      {{ form.imagen }}
      <small class="form-text text-muted">Formato permitido: JPEG, PNG, JPG, GIF, BMP, TIFF, WebP. Tamaño máximo: 5MB.</small>

      {% if form.imagen.errors %}
        <div class="text-danger small">{{ form.imagen.errors|striptags }}</div>
      {% endif %}
    </div>

    <button type="submit" class="btn btn-success">Guardar Noticia</button>
    <a href="{% url 'publicaciones_noticias' %}" class="btn btn-secondary">Cancelar</a>
  </form>
</div>
{% endblock %}
