{% extends './base.html' %}

{% block title %}Alumnos{% endblock %}

{% block content %}

<div class="contenedor-con-scroll">
  <div class="contenido-principal">
    <h2>Alumnos</h2>
    <p>En esta sección se podrán ver alumnos.</p>
    <a href="{% url 'agregar_alumno' %}" class="btn btn-primary">
      <i class="fa-solid fa-plus"></i> Dar de alta alumno
    </a>
  </div>
  
  <div class="py-3 contenedor-cursos">
  
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Listado de alumnos</h3>
          <div class="card-tools">
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0" style="height: 600px;">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Alumno</th>
                <th>Clave escolar</th>
                <th>CURP</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>Restricción</th>
                <th>Estado</th>
                <th style="width: 300px;">Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for alumno in alumnos %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                  {{ alumno.nombres }}   {{ alumno.apellido_paterno }} {{ alumno.apellido_materno }}
                  <br>
                  <small>Clave Unica: <strong>{{ alumno.clave_alumno }}</strong></small>
                </td>
                <td>{{ alumno.clave }}</td>
                <td>{{ alumno.curp }}</td>
                <td>{{ alumno.correo }}</td>
                <td>{{ alumno.telefono }}</td>
                <td>
                  <form method="post" action="{% url 'toggle_restriccion_alumno' alumno.id %}">
                    {% csrf_token %}
                    {% if alumno.restriccion_libre %}
                      <button type="submit" class="btn btn-success btn-sm">Sin restricción</button>
                    {% else %}
                      <button type="submit" class="btn btn-outline-danger btn-sm">Restringido</button>
                    {% endif %}
                  </form>
                </td>
                <th>
                  {% if alumno.estado_inscripcion == "Inscrito" %}
                    <span class="estado inscrito">Inscrito</span>
                  {% else %}
                    <span class="estado no-inscrito">No inscrito</span>
                  {% endif %}

                </th>
                <td>
                  <!-- Aquí puedes poner botones de acción como editar o eliminar -->
                  <a href="{% url 'historial_alumno' alumno.id %}" class="btn btn-sm btn-success">Historial</a>
                  <a href="{% url 'editar_alumno' alumno.id %}" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i> </a>
                  <a href="{% url 'eliminar_alumno' alumno.id %}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </a>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="8" class="text-center">No hay alumnos registrados.</td>
              </tr>
              {% endfor %}
            </tbody>
            
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
</div>
{% endblock %}
