{% extends './base.html' %}

{% block title %}Cursos{% endblock %}

{% block content %}
<div class="contenido-principal">
  <h2>Cursos</h2>
  <p>En esta sección se podrán agregar y ver los cursos.</p>
  <a href="{% url 'agregar_curso' %}" class="btn btn-primary">
    <i class="fa-solid fa-plus"></i> Nuevo Curso
  </a>
</div>

<div class="py-3 contenedor-cursos">

  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Listado de cursos</h3>
        <div class="card-tools">
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0" style="height: 600px;">
        <table class="table table-head-fixed text-nowrap">
          <thead>
            <tr>
              <th>#</th>
              <th>Grupo</th>
              <th>Curso</th>
              <th>Cupos</th>
              <th>Periodo</th>
              <th>Hora inicio</th>
              <th>Hora fin</th>
              <th>Facilitador</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for curso in cursos %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ curso.grupo }}</td>
              <td>{{ curso.nombre_curso }}</td>
              <td>{{ curso.cupos }}</td>
              <td>{% if curso.periodo %}{{ curso.periodo }}{% else %}Sin asignar{% endif %}</td>
              <td>{{ curso.hora_inicio}}</td>
              <td>{{ curso.hora_fin }}</td>
              <td>{% if curso.facilitador %}{{ curso.facilitador }}{% else %}Sin facilitador{% endif %}</td>
              <td>
                <a href="{% url 'editar_curso' curso.id %}" class="btn btn-warning"><i class="fa-regular fa-pen-to-square"></i></a>
                <a href="{% url 'eliminar_curso' curso.id %}" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="4" class="text-center">No hay periodos registrados</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
{% endblock %}
