{% extends './base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

{% if messages %}
      {% for message in messages %}
        <div class="alert alert-success">{{ message }}</div>
      {% endfor %}
    {% endif %}

    
  <div class="bienvenida-contenedor">
    <div class="bienvenida-card">
      <h2 class="bienvenida-titulo">Bienvenido al Dashboard</h2>
      <h3 class="bienvenida-animada">
        {{ request.user.get_full_name|default:request.user.username }}
      </h3>
    </div>
  </div>
{% endblock %}
