{% extends 'administracion/base.html' %}

{% block title %}Editar Diplomado{% endblock %}

{% block content %}
    <div class="contenido-principal-agregar">
        <h4>Editar Diplomado</h4>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="id_nombre_curso">Nombre del Diplomado:</label>
                {{ form.nombre_diplomado }}
            </div>
            <!-- <div class="form-group mb-3">
                <label for="id_descripcion">Descripción:</label>
                {{ form.descripcion }}
            </div> -->
            
            <div class="form-group mb-3">
                <label for="id_periodo">Periodo:</label>
                {{ form.periodo }}
            </div>
            <!-- <div class="form-group mb-3">
                <label for="id_fecha_inicio">Fecha de inicio:</label>
                {{ form.fecha_inicio }}
            </div>
            <div class="form-group mb-3">
                <label for="id_fecha_fin">Fecha de fin:</label>
                {{ form.fecha_fin }}
            </div> -->
            <div class="form-group mb-3">
                <label for="id_hora_inicio">Hora de inicio:</label>
                {{ form.hora_inicio }}
            </div>
            <div class="form-group mb-3">
                <label for="id_hora_fin">Hora de fin:</label>
                {{ form.hora_fin }}
            </div>
            <div class="form-group mb-3">
                <label for="id_cupos">Cupos:</label>
                {{ form.cupos }}
            </div>
            <div class="form-group mb-3">
                <label for="id_grupo">Grupo:</label>
                {{ form.grupo }}
            </div>

            <!-- <div class="mb-3">
                <label for="id_modalidad">Modalidad:</label>
                {{ form.modalidad }}
              </div> -->
              
              <div class="mb-3">
                <label for="id_duracion">Duración (horas):</label>
                {{ form.duracion }}
              </div>
              
            <div class="form-group mb-3">
                <label for="id_facilitador">Facilitador:</label>
                {{ form.facilitador }}
            </div>
            
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            <a href="{% url 'diplomados' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
{% endblock %}
