{% extends './base.html' %}

{% block title %}Facilitadores{% endblock %}

{% block content %}
<div class="contenido-principal">

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success">{{ message }}</div>
      {% endfor %}
    {% endif %}


  <h4>Facilitadores</h4>
  <p>En esta sección se podrán agregar los facilitadores registrados al sistema.</p>
    <div class="controladores">
      <form method="get" class="d-flex gap-2 mb-4">
        <input type="search" name="q" placeholder="Buscar facilitador..." value="{{ query }}" class="form-control" title="Escribe el nombre, apellido, CURP o correo">
        <button type="submit" class="btn btn-primary">Buscar</button>
      </form>


      <div class="controladores 1 gap-3">
        <a href="{% url 'agregar_facilitador' %}" class="btn-añadir">
          <i class="fa-solid fa-plus"></i> Nuevo Facilitador
        </a>

      </div>
    </div>
</div>

<table class="table table-striped tabla1">
  <thead>
    <tr>
      <th>#</th>
      <th>Facilitador</th>
      <th>Contacto</th>
      <th>CCT (clave de trabajo)</th>
      <th>CURP</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for facilitador in facilitadores %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>
        <small>Clave Unica: <strong>{{ facilitador.clave_facilitador }}</strong></small>
        <br>
        {{ facilitador.nombres }} {{ facilitador.apellido_paterno }} {{ facilitador.apellido_materno }}
      </td>
      <td>
        <i class="fa-solid fa-phone"></i>&nbsp;  {{ facilitador.telefono }}
        <br>
        <i class="fa-solid fa-envelope"></i>&nbsp;  {{ facilitador.correo }}
      </td>
      <td>{{ facilitador.clave }}</td>
      <td>{{ facilitador.curp }}</td>
      <td>
        <a href="{% url 'editar_facilitador' facilitador.id %}" class="btn btn-sm btn-warning">
          <i class="fa fa-edit"></i>
        </a>
        <a href="{% url 'suprimir_facilitador' facilitador.id %}" class="btn btn-sm btn-danger">
          <i class="fa fa-trash"></i>
        </a>

      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
