{% extends './base.html' %}

{% block title %}Periodos{% endblock %}

{% block content %}
<div class="contenido-principal">

  {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success">{{ message }}</div>
      {% endfor %}
  {% endif %}


  <h4>Periodos</h4>
  <p>En esta sección se podrán agregar los periodos correspondientes a las épocas del año.</p>
  <div class="controladores">
    <form method="get" class="d-flex gap-2 mb-4">
      <input type="search" name="q" placeholder="Buscar periodo..." value="{{ query }}" class="form-control" title="Buscar por nombre o fecha">
      <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    <a href="{% url 'agregar_periodo' %}" class="btn-añadir">
      <i class="fa-solid fa-plus"></i> Nuevo Periodo
    </a>
  </div>
</div>

<table class="table table-striped tabla1">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre del periodo</th>
      <th>Fecha de inicio</th>
      <th>Fecha de finanlización</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for periodo in periodos %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ periodo.nombre_periodo }}</td>
          <td>{{ periodo.fecha_inicio|date:"j \\d\\e F \\d\\e Y" }}</td>
          <td>{{ periodo.fecha_fin|date:"j \\d\\e F \\d\\e Y" }}</td>
          <td>
            <a href="{% url 'editar_periodo' periodo.id %}" class="btn btn-sm btn-warning">
              <i class="fa-solid fa-pen-to-square"></i>
            </a>
            <a href="{% url 'suprimir_periodo' periodo.id %}" class="btn btn-sm btn-danger">
              <i class="fa fa-trash"></i>
            </a>

          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="4" class="text-center">No hay periodos registrados</td>
        </tr>
        {% endfor %}
  </tbody>
</table>
  


{% endblock %}