{% extends './base.html' %}

{% block title %}Talleres{% endblock %}

{% block content %}
<div class="contenido-principal">
  <h2>Talleres</h2>
  <p>Aquí puedes gestionar los talleres disponibles.</p>
  <a href="{% url 'agregar_taller' %}" class="btn btn-primary">
    <i class="fa-solid fa-plus"></i> Nuevo Taller
  </a>
</div>
<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Listado de talleres</h3>
      <div class="card-tools">
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0" style="height: 600px;">
      <table class="table table-head-fixed text-nowrap">
        <thead>
          <tr>
            <th>#</th>
            <th>Taller</th>
            <th>Cupos</th>
            <th>Periodo</th>
            <th>Horario</th>
            <th>Facilitador</th>
            <th>Estado</th>
            <th>finalizar</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for taller in talleres %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>
              <small><strong>Grupo: {{ taller.grupo }}</strong></small>
              <p>{{ taller.nombre_taller }}</p>
            </td>
            <td>{{ taller.cupos }}</td>
            <td>{% if taller.periodo %}{{ taller.periodo }}{% else %}Sin asignar{% endif %}</td>
            <td>{{ taller.hora_inicio}} - {{ taller.hora_fin }}</td>
            <td>{% if taller.facilitador %}{{ taller.facilitador }}{% else %}Sin facilitador{% endif %}</td>
            <td>
              {% if taller.finalizado %}
                <span class="badge bg-danger">Finalizado</span>
              {% else %}
                <span class="badge bg-success">Activo</span>
              {% endif %}
            </td>
            <td>
              {% if not taller.finalizado %}
              <form method="post" action="{% url 'finalizar_taller' taller.id %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-outline-danger">Finalizar</button>
              </form>
              {% endif %}
            </td>
            <td>
              <a href="{% url 'editar_taller' taller.id %}" class="btn btn-warning"><i class="fa-regular fa-pen-to-square"></i></a>
              <a href="{% url 'eliminar_taller' taller.id %}" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
              {% if not taller.publicado %}
              <form action="{% url 'publicar_taller' taller.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-success" title="Publicar">
                  <i class="fa-solid fa-globe"></i>
                </button>
              </form>
              {% else %}
              <form action="{% url 'despublicar_taller' taller.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary" title="Despublicar">
                  <i class="fa-solid fa-eye-slash"></i>
                </button>
              </form>
              {% endif %}

            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="9" class="text-center">No hay talleres registrados</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
</div>
{% endblock %}
